<div class="container">
    <a href="#" routerLink="/passenger/index/" class="btn btn-primary" style="float:left">back</a>
    <a href="#" routerLink="/booking/delete/" class="btn btn-danger" style="float:right">- Delete a Booking</a>
    <a href="#" routerLink="/booking/create/" class="btn btn-success" style="float:right">+ Create a Booking</a>
    <h1 class="text-center">Table of all Bookings</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Passenger Id</th>
                <th>Flight Id</th>
                <th>Confirmation Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let eachBooking of bookingsList">
                <td>{{ eachBooking.id }}</td>
                <td>{{ eachBooking.passengerID }}</td>
                <td>{{ eachBooking.flightID }}</td>
                <td>{{ eachBooking.confirmationNumber }}</td>

            </tr>
        </tbody>
    </table>
</div>

    <div>
        <form [formGroup]="deleteBookingForm">
            <div>
                <p></p>
            </div>

            <div class="form-group">
                <label for="id">Input the id of the row you want to delete</label>
                <input type="number" class="form-control" id="id" formControlName="id" />
                <div *ngIf="f['id'].touched && f['id'].invalid" class="alert alert-danger">
                    <div *ngIf="f['id'].errors f['id'].errors['required']">Passenger's id is required.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmationNumber">Input the confirmation number you want to delete</label>
                <input type="number" class="form-control" id="confirmationNumber" formControlName="confirmationNumber" />
                <div *ngIf="f['confirmationNumber'].touched && f['confirmationNumber'].invalid" class="alert alert-danger">
                    <div *ngIf="f['confirmationNumber'].errors f['confirmationNumber'].errors['required']">Confirmation Number is
                        required.</div>
                </div>
            </div>
            

            <div>
                <p></p>
            </div>
            <button class="bg bg-white" (click)="delete(f['id'].value)">Delete Row</button>

        </form>
    </div>


