<div class="container">
    <h1>Add new passenger</h1>
    <a href="#" routerLink="/passenger/index" class="btn btn-primary">&lt;&lt; Back</a>
    <form [formGroup] = "newPassengerForm" (ngSubmit)="submit()">
        <div> <p></p></div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" />
            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div *ngIf="f['name'].errors f['name'].errors['required']">Name is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="job">Job</label>
            <input type="text" class="form-control" id="job" formControlName="job" />
            <div *ngIf="f['job'].touched && f['job'].invalid" class="alert alert-danger">
                <div *ngIf="f['job'].errors f['job'].errors['required']">Job is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email" />
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors f['email'].errors['required']">Email is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" formControlName="age" />
            <div *ngIf="f['age'].touched && f['age'].invalid" class="alert alert-danger">
                <div *ngIf="f['emageail'].errors f['age'].errors['required']">Age is required.</div>
            </div>
        </div>
        
        <div> <p></p></div>
        <button type="submit" class="btn btn-primary" [disabled]="!newPassengerForm.valid">Submit</button>

    </form>
    
</div>
<!-- 
<td>{{ eachPassenger.id }}</td>
<td>{{ eachPassenger.name }}</td>
<td>{{ eachPassenger.job }}</td>
<td>{{ eachPassenger.email }}</td>
<td>{{ eachPassenger.age }}</td>           -->